
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Richrova</title>
        <link href="/user/user.css" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/user/navbar.css" />
        <link rel="stylesheet" type="text/css" href="/user/sidebar.css" />

        <script src="/user/userScrpt.js"></script>
        <script src="/user/sidebar.js"></script>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        
    </head>
    <body>
       
       <nav class="navbar navbar-def navbar-fixed-top">
            <div class="container-fluid ">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../">
                        <img style="margin-top: -10px; width: 20vh; height: 5vh; " alt="brand" src="/images/logo/logo.png">
                  </a>
              </div>
          
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
                
                <ul class="nav navbar-nav navbar-right">

                    <li id="dashHome" class="active"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home <span class="sr-only">(current)</span></a></li>
                    <li id="logout" onclick="logout()"><a href="#" ><i class="fa fa-user" aria-hidden="true"></i> Logout</a></li>

                    <li id="login" class="active" onclick="loginClick()"><a href="#" ><i class="fa fa-amazon" aria-hidden="true"></i> Login</a></li>
                    <li id="regit" onclick="regClick()"><a href="#" ><i class="fa fa-user" aria-hidden="true"></i> Register</a></li>
                    
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>




        <!-- check alredy login -->
        <input type="hidden" id="allredyloginuserID" value="<%=allredylogin%>">
        <!-- check alredy login -->
        <input type="hidden" id="sponsRootID" value="<%=sponsRootID%>">
        <input type="hidden" id="sponsID" value="<%=sponsID%>">
        <input type="hidden" id="sponsName" value="<%=sponsName%>">


       

        <div  class="container-fluid">

          

          <div id="view">
            

            
            
          </div>  
          <!-- end view -->
        </div>



        
     

       
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>





